---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>We are a group of graduate workers at Stanford running for election as the RED (Representation, Equity, and Democracy) slate because we believe true representation, real equity, and deep democracy can only be achieved through mass participation.
</p><p>
In this time of great political uncertainty, we as graduate workers at Stanford must come together to ensure we have a democratic voice in shaping our working and learning conditions.
</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
